body{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.clothing{
    width: 13vw;
    height: 13vw;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1vw;
    color: rgb(53, 51, 67);
    padding: 0;
    border: none;
}

.clothingPic{
    padding: 2px;
    width: 10vw;
    height: 12vw;
}

/*----- PopUp Menu -----*/
/* Div w/ Name and Exit*/
.nameX{
    padding: 10px 15px 0px;
}

/* Div w/ Pics, Tags, and Notes*/
.picTagsNotes{
    display: flex;
    padding: 3px 25px 0px;
    gap: 15px;

}

/*Div w/ Tags and Notes*/
.tagsNotes{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: red;
    width: 100vw;

}
/* Exit Button*/
.xButton{
    float: right;
    border: none;
    border-radius:25px;
    background:none;
    font-size: 3vw;
}

.xButton:hover {
    color: white;
  }

.xButton:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Picture */
.clothesPopPic{
    width: 30vw; 
}

/* Notes */
.notes{
    position:absolute;
    bottom: 0;
    left: 0;
    
    height: 10vh;
    width: 22vw;
}