body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clothing{
    width: 13vw;
    height: 13vw;
    background-color:white;
    background-size: 85% 90%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-size: 1vw;
    color: rgb(53, 51, 67);
    border: none;
    
}

.clothingName{
    font-size: 120%;
}

.clothingPic{
    padding: 2px;
    width: 10vw;
    height: 12vw;
}

/*----- PopUp Menu -----*/
/* Div w/ Name and Exit*/
.nameX{
    padding: 10px 15px 0px;
}

/* Div w/ Pics, Tags, and Notes*/
.picTagsNotes{
    display: flex;
    gap: 15px;
    height: 78%;
    width: 85%;
    align-self: center;

}

/*Div w/ Tags and Notes*/
.tagsNotes{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%

}
/* Exit Button*/
.xButton{
    float: right;
    border: none;
    border-radius:25px;
    background:none;
    font-size: 3vw;
}

.xButton:hover {
    color: white;
  }

.xButton:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Picture */
.clothesPopPic{
    width: 40%; 
    height: 80%;
    align-self: center;
    border-radius: 10px;
}

/* Notes */
.notes{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 30%;
    padding: 2px;
    border-radius: 10px;
    background-color:rgb(240,248,255, 0.8);


}