*{
    font-family: "Trebuchet MS", sans-serif;
}

body{
    background-color: rgb(222, 235, 248);
}


/* Navigation Bar*/
.topnav{
    background-color: rgb(53, 51, 67);
    border-radius: 25px;
    overflow: hidden;
    height: 50px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.navRight{
    float:right;
}


/* ---------- TOP PART OF CLOTHES AND OUTFITS PAGE ----------*/
/* Sort and Filter*/
.resultsView{
    float: right;
}

/* Title, Sort, and Filter*/
.topBar{
    margin: 30px 10vw 5px;
    width: 80vw;
}

/* Line */
.solidDivider{
    border-top: 3px solid rgb(53, 51, 67);
}

/* "Clothes" and "Fits" */
.title{
    font-size: 3vw;
}

/* Gallery Part of Clothes and Fits Pages*/
.gallery{
    height: 80vh; /*Remove once gallery is populated, should adjust according to content*/
    width: 75vw;
    padding: 2px;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    justify-content: center;
    margin: auto;
}

/* ---------- POP UP MENU FOR CLOTHING AND FITS ITEMS ----------*/
.popup{
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    overflow: auto;
    display: none;
}

.popupData{
    background-color: rgb(53, 51, 67);
    display:flex;
    flex-direction: column;
    height: 40vw;
    width: 60vw;
    background-color: gray;
    margin: 10vh auto;
    border-radius: 25px;
    font-size: 1vw;
}

.popupSubtitle{
    text-decoration: underline;
    margin-bottom: 1vw;
    display: inline;
    margin: 0px;
    font-weight: bold;
    font-size: 1.5vw;
}

.popupValue{
    margin: 0px;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}