/*--- Formatting Page --- */
#main{
    display:flex;
}

#homeLeft{
    display: flex;
    gap: 10px;
}


/* --- All Home Page Boxes*/
.homeDiv{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tagCheckboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
/*--- Welcome Box ---*/
#welcomeBox{
    background-color: rgb(53, 51, 67);
    border-radius:25px;
    height:33%;
    margin-top: -10px;
    padding: 20px;
}

/*--- Popular Box ---*/
#popular{
    background-color: rgb(53, 51, 67);
    padding: 20px;
    border-radius: 25px;
    height:100%;
    margin-bottom: -30px;
}

#popularData{
    background-color: aliceblue;
    height: 95%;
    border-radius: 25px;
    margin-top: 5px;
}

/*--- New Clothes Box --- */ 
#newClothes{
    background-color: rgb(53, 51, 67);
    border-radius: 25px;
    margin: 10px;
} 

#newClothesPrompt{
    display: flex;

}

#topNCP{
    width: 99%;
    height:50%;
    border-radius: 25px;
    display:flex;

}

#topNCP input{
    margin-bottom: 20%;
    align-self: center;
}

#botNCP{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: flex-start;
    border-radius: 25px;
    padding: 10px;
}

#clothesCheckboxes {
    display: flex;
    gap: 3vw;
    align-self: center;
    margin-bottom: 5%;
  }

#clothingImg{
    height: 260px;
    width: 160px;
    border-radius: 25px;
    background-color: rgb(53, 51, 67);
    margin: 10px;
    object-fit: fill;
    
}


#nameDateImage{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

#notesNCP{
    align-self: center;
    width: 80%;
    height:35%;
    margin: 5px auto;
}




/*--- New Outfit Box --- */ 
#newOutfit{
    background-color: rgb(53, 51, 67);
    border-radius: 25px;
    margin: 10px;

}

